#mainBody{
  background-image:
url("/images/background.jpg");
}
#countLabel{
 display: block;
 text-align: center;
 font-size: 10em;
 font-family: 'f', Times, serif;
}
#BtnContainer{
    text-align: center;
}
.buttons{
    padding: 10px,20px;
    font-size: 1.5em;
    color: aquamarine;
    background-color: hsl(276, 91%, 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: hsl(276, 100%, 9%);
}
